* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li {
  margin-left: 20px;
}

/* HERO */
.hero {
  height: 60vh;
  background: url('https://images.unsplash.com/photo-1502741338009-cac2772e18bc');
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* SECTIONS */
section {
  padding: 60px;
  text-align: center;
}

/* PRODUCTS */
.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.card {
  width: 280px;
  background: white;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  border-radius: 10px;
}

.card img {
  width: 100%;
  height: 200px;
}

.card button {
  margin: 10px;
  padding: 10px;
  background: green;
  color: white;
  border: none;
}

/* FARM */
.farm-images {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.farm-images img {
  width: 300px;
}

/* BUTTON */
.btn {
  background: green;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}

/* FLOAT BUTTONS */
.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25D366;
  padding: 15px;
  border-radius: 50%;
  color: white;
}

.instagram-float {
  position: fixed;
  bottom: 80px;
  right: 20px;
  background: #E1306C;
  padding: 15px;
  border-radius: 50%;
  color: white;
}

/* FOOTER */
footer {
  background: green;
  color: white;
  padding: 20px;
}
